*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
img {
  max-width: 100%;
  display: block;
}
button,
input,
textarea {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#app {
}

/* làm navbar và player bar không che nội dung */
#view-container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 0 calc(10rem + env(safe-area-inset-bottom)) 0;
}
#view-container:has(#player-view) {
  padding-bottom: 0;
}
#view-container:has(#detailed-album-view) {
  padding-bottom: calc(5rem + env(safe-area-inset-bottom));
}
#view-container:has(#detailed-artist-view) {
  padding-bottom: calc(5rem + env(safe-area-inset-bottom));
}
#view:has(#detailed-playlist-view) {
  padding-bottom: calc(5rem + env(safe-area-inset-bottom));
}

/* responsive layout cho navbar, player bar, search bar */
@media (min-width: 1024px) {
  #player-bar,
  #navbar,
  #search-bar {
    left: 50% !important;
    right: auto !important;

    width: 100%;
    max-width: 65rem;

    transform: translateX(-50%);
  }

  .lyrics-space {
    left: 50% !important;
    right: auto !important;

    max-width: 65rem;
    width: 100%;

    transform: translate(-50%, 100%) !important;
  }
  .lyrics-space.open {
    transform: translate(-50%, 0) !important;
  }

  .play-button,
  .shuffle-button {
    block-size: 6rem !important;
    inline-size: 6rem !important;
  }
}

/* grid responsive layout cho grid section trong albums view, artist view, playlist view... */
@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr) !important;
  }
}
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr) !important;
  }
}
@media (min-width: 1500px) {
  .grid {
    grid-template-columns: repeat(6, 1fr) !important;
  }
}

/* animation đơn giản */
.horizontal-list {
  padding: 0.5rem;
}

.card,
.album-artist-click {
  transition: transform 0.2s ease;
}

.card:hover,
.album-artist-click:hover {
  transform: scale(1.02);
}

.track-item {
  transition: margin-left 0.25s ease;
}
.track-item:hover {
  background: var(--surface-container);
  margin-left: 0.5rem;
}

.lyrics-space {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 70dvh;

  transform: translateY(100%);
  opacity: 0;

  transition:
    transform 0.35s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.2s ease;

  pointer-events: none;
}

.lyrics-space.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
